{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href= {{ url_for('static', filename="css/signin.css") }}  >

{% endblock %}

{% block main %}
<br>


<form class="form-signin" method="POST" action="/login">
    <img class="mb-4" src={{ url_for('static', filename='images/Grras.jpeg') }} alt="" width="150" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    
{% with messages = get_flashed_messages() %}

{% if messages %}
  {% for msg in messages %}
      <p style='color:red'> {{ msg }} </p>
  {% endfor %}
{% endif %}

{% endwith %}
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name='email' type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class=" mb-1">
      <label>
        <a href="/signup">Sign up ?</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    
  </form>

{% endblock %}  